---
---

@import "tachyons", "syntax-highlighting";

// Variables ///////////////////////////////////////////////////////////////////

$ruby-red: rgb(246, 60, 56);  // #f63c38
$tan-light: rgb(255, 246, 231);
$tan-medium: rgb(255, 245, 230);
$tan-dark: rgb(240, 210, 170);
$brown: rgb(100, 65, 56);
$yellow-light: rgb(255, 246, 231);  // tips
$code-dark: rgb(26, 36, 56);

$gray-light: rgb(241, 244, 250);
$gray-medium: rgb(209, 212, 219);
$gray-dark: rgb(214, 217, 223);

// Common classes //////////////////////////////////////////////////////////////

.bg-ruby-red {
  background: $ruby-red;
}

.bg-tan-light {
  background: $tan-light;
}

.bg-tan-medium {
  background: $tan-medium;
}

.b--tan-medium {
  border-color: $tan-medium;
}

.b--tan-dark {
  border-color: $tan-dark;
}

.bg-tan-dark {
  background: $tan-dark;
}

.ruby-red {
  color: $ruby-red;
}

.brown {
  color: $brown;
}

.b--brown {
  border-color: $brown;
}

.mw65 {
  max-width: 40rem;
}

.w-300px {
  width: 300px;
}

.is-expanded {
  display: block !important;
}

// Elements ////////////////////////////////////////////////////////////////////

body {
  font-family: 'Public Sans', sans-serif;
  background-image: url('/assets/img/background-facets.svg');
  background-position: 0px 20px, center;
  background-size: 100%;
  background-repeat: no-repeat, repeat-x;
}

h1 {
  @extend .mt4;
}

p, ul, ol {
  font-size: 1.15rem;
  line-height: 1.8rem;
}

li {
  @extend .mv3;
}

a {
  // @extend .blue;
  color: $ruby-red;
}

table {
  @extend .ba, .bw1, .br2;
  border-color: $gray-dark;

  th {
    @extend .bb, .bw1;
    border-color: $gray-medium;
    background-color: $gray-light;
  }

  th, td {
    @extend .pa2;
    line-height: 1.5rem;
  }

  tr:nth-child(even) {
    background-color: $gray-light;
  }
}

h1.title {
  @extend .fw8, .mt2, .mb4;
  font-size: 2.7rem;
}

p.description {
  @extend .fw3, .mt0, .mb4;
  font-size: 1.6rem;
}

hr {
  @extend .bn, .bg-black-10;
  height: 5px;
}

// Includes styles /////////////////////////////////////////////////////////////

.tip {
  margin-bottom: 20px;
  padding: 10px;
  background: $yellow-light;
  border: 2px solid $yellow-light;
  border-radius: 3px;
  line-height: 1.5rem;

  .icon {
    float: left;
  }
  .message {
    margin-left: 28px;
  }
}

// Site navigation /////////////////////////////////////////////////////////////

.main-nav {
  border-bottom: solid 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
}

nav.nav-content {
  @extend .flex, .justify-between, .center;
  max-width: 72em;

  a {
    @extend .no-underline, .black;
  }

  .logo {
    @extend .flex, .items-center, .pa2, .pv3, .pr0, .link;

    img {
      @extend .mr2;
      width: 50px;
      height: 50px;
    }
  }

  .links {
    @extend .mr1, .pa2, .pl0, .flex, .items-center, .b;
    font-size: 1.05rem;

    a {
      @extend .link, .dib, .mr3, .mr4-ns;
      margin-top: 2px;
      border-bottom: 2px solid rgba(255, 255, 255, 0);

      &:hover {
        @extend .ruby-red;
      }

      &:hover, &.active {
        border-bottom: 2px solid rgba(255, 255, 255, 0.7);
      }

      &:last-child {
        @extend .mr0;
      }
    }
  }
}

// Home page ///////////////////////////////////////////////////////////////////

.home-banner {
  @extend .ph2, .pt4, .pb3, .tc;

  img {
    width: 150px;
  }

  h1 {
    @extend .mt3, .mb3;
    font-size: 3.5rem;
  }

  h2 {
    @extend .ma0, .fw3;
    font-size: 2rem;
  }
}

// Article /////////////////////////////////////////////////////////////////////

.article {
  @extend .pt5;
  max-width: 72rem;
}

// Learn pages /////////////////////////////////////////////////////////////////

.learn {
  @extend .flex, .items-start, .center, .mb4, .pa3, .pt5;
  max-width: 72rem;

  .contents {
    @extend .mr4, .pr3;
    min-width: 22.5%;
    position: sticky;
    position: -webkit-sticky;
    top: 20px;

    h1 {
      @extend .mt2, .mb4, .fw7;
      font-size: 1.75rem;
    }

    a {
      @extend .db, .link, .b, .black;
      font-size: 1.05rem;
      margin-bottom: 0.9rem;

      &:hover {
        @extend .gray;
      }

      &.current {
        @extend .ruby-red;
      }
    }
  }

  .page {
    @extend .flex-auto;

    .active::before {
      content: "👉 ";
    }
    .active {
      font-weight: bold;
      text-decoration: none;
    }
  }

  .color-example {
    @extend .pv1, .ph2, .br2, .ba, .bw1, .b--brown;

    &.navy {
      color: #fff;
      background-color: #001F3F;
    }

    &.blue {
      color: #fff;
      background-color: #0074D9;
    }

    &.aqua {
      color: #1e343d;
      background-color: #7FDBFF;
    }

    &.teal {
      color: #fff;
      background-color: #39CCCC;
    }

    &.olive {
      color: #fff;
      background-color: #3D9970;
    }

    &.green {
      color: #fff;
      background-color: #2ECC40;
    }

    &.lime {
      color: #003517;
      background-color: #01FF70;
    }

    &.yellow {
      color: #453b00;
      background-color: #FFDC00;
    }

    &.orange {
      color: #fff;
      background-color: #FF851B;
    }

    &.red {
      color: #fff;
      background-color: #FF4136;
    }

    &.brown {
      color: #fff;
      background-color: #663300;
    }

    &.fuchsia {
      color: #fff;
      background-color: #F012BE;
    }

    &.purple {
      color: #fff;
      background-color: #B10DC9;
    }

    &.maroon {
      color: #fff;
      background-color: #85144B;
    }

    &.white {
      color: #000;
      background-color: #FFFFFF;
    }

    &.silver {
      color: #000;
      background-color: #DDDDDD;
    }

    &.gray {
      color: #fff;
      background-color: #AAAAAA;
    }

    &.black {
      color: #fff;
      background-color: #111111;
    }
  }

  img.sprite-sheet {
    @extend .border-box, .pa2, .br3, .ba, .bw2, .b--black-20, .bg-white;
  }

  video.sprite-video {
    @extend .br3, .ba, .bw2, .b--black-20;
  }

}

// News ////////////////////////////////////////////////////////////////////////

.post-date-icon {
  @extend .relative;
  top: 5px;
  margin-right: 2px
}

.post-date {
  font-weight: bold;
}

// Media queries ///////////////////////////////////////////////////////////////

// A little more than the iPhone 8 Plus and smaller
@media screen and (max-width: 36rem) {
  nav.site-header {

    a {
      font-size: 0.9rem;
      margin-right: 1rem;
    }

    .logo, .logo-empty {
      margin-left: 0;

      img {
        width: 35px;
        height: 35px;
      }
    }

    .links {
      margin-right: 0;

      a {
        margin-right: 0.7rem;
      }
    }
  }

  .learn {
    display: block;

    .contents {
      position: static;
      margin: 0 0 1.15rem 0;
      padding: 0.25rem;
      border: 2px solid $tan-dark;
      border-radius: .25rem;
      background-color: $tan-medium;

      h1 {
        cursor: pointer;
        margin: 0;
        -webkit-user-select: none;

        &::after {
          content: " ▾";
        }
      }

      a {
        font-size: 1.15rem;
      }

      .links {
        display: none;
        margin-top: 0.4rem;
        padding-top: 0.6rem;
        border-top: 2px solid #f0d2aa;
      }
    }
  }
}

// iPhone 8 and smaller
@media screen and (max-width: 26rem) {
  nav.site-header {
    .logo, .logo-empty {
      img {
        display: none;
      }
    }

  }
}

// iPhone SE and smaller
@media screen and (max-width: 23rem) {
  nav.site-header {
    a {
      font-size: 0.65rem;
    }
  }
}

// Code ////////////////////////////////////////////////////////////////////////

code {
  @extend .pb0, .ba;
  padding: 0 4px;
  font-family: 'Source Code Pro', monospace;
  word-wrap: break-word;
  background-color: $gray-light;
  border: 2px solid $gray-medium;
  border-radius: 0.25em;
}

pre {
  @extend .br3;

  code {
    @extend .pa2, .lh-copy, .db, .overflow-y-auto;
    font-size: 1.15rem;
    word-wrap: normal;
    background-color: $code-dark;
    border: none;

    /* long code snippets */

    &::-webkit-scrollbar {
      height: 5px;
    }

    &::-webkit-scrollbar-track-piece {
      background-color: $gray-medium;
      border-radius: .15rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $gray-dark;
      border-radius: .15rem;
    }
  }
}
