---
layout: template/main
---

<div class="banner">
  <img src="/assets/img/logo.svg">
  <h1>Ruby 2D</h1>
  <h2>Make cross-platform 2D applications in Ruby</h2>
</div>

<div class="features">
  <div class="row content">
    
    <div class="column">
      <img src="/assets/img/feat1.svg">
      <h1>Interpreted</h1>
      <p>Write your app as a classic Ruby script, just like you're use to.</p>
    </div>
    
    <div class="column">
      <img src="/assets/img/feat2.svg">
      <h1>Native</h1>
      <p>Compile your app to native code on any platform.</p>
    </div>
    
    <div class="column">
      <img src="/assets/img/feat3.svg">
      <h1>Web</h1>
      <p>Convert your app to JavaScript and run in your favorite browser.</p>
    </div>
    
  </div>
</div>

<div class="get-started">
  <div class="content">
    <a href="/learn/get-started">
      <h1>Get started »</h1>
    </a>
    <p>Install the gem and read the guides</p>
  </div>
</div>

<div class="content simple-app">
  {{ content }}
</div>
