<!doctype html>


<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ruby 2D{% unless page.title == 'home' %} — {{ page.title }}{% endunless %}</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;700;800&family=Source+Code+Pro&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="apple-touch-icon-precomposed" href="/assets/img/favicon-152.png">
    <script src="/assets/js/fastclick.js"></script>
    <script src="/assets/js/anchor.js"></script>
  </head>

  <body class="mb5">
    <!-- Header -->
    <div class="main-nav">
      <nav class="nav-content">
        <a class="logo" href="/">
          <!-- <img src="/assets/img/logo-sm.svg" alt="Ruby 2D logo"> -->
          <div class='b'>RUBY 2D v1.0</div>
        </a>
        <div class="links">
          <a href="/showcase" class="{% if page.url == '/showcase/' %}active{% endif %}">Showcase</a>
          <a href="/learn/get-started" class="{% if page.url contains '/learn/' %}active{% endif %}">Learn</a>
          <a href="/community" class="{% if page.url == '/community/' %}active{% endif %}">Community</a>
        </div>
      </nav>
    </div>
    {{ content }}
  </body>

</html>
